{
  "semi": true,
  "singleQuote": true,
  "trailingComma": "all",
  "bracketSpacing": true,
  "arrowParens": "avoid",
  "tabWidth": 2,
  "useTabs": false,
  "singleAttributePerLine": true,
  "endOfLine": "auto",
  "plugins": ["prettier-plugin-tailwindcss"]
}
